.faded {
    opacity: 0.5; /* Makes the element 50% transparent */
    transition: opacity 0.3s ease; /* Adds a smooth transition effect */
  }
  
  .responsive-svg-container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
  }